<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <div class="col-md-3">
    <input class="form-control" type="number" ng-model="numberOne">
  </div>
  <div class="col-md-3">
    <input  class="form-control" type="number" ng-model="numberTwo">
  </div>
  <div class="col-md-3">
    <button id="addButton" class="btn btn-primary" ng-click="addNumbers(numberOne, numberTwo)">Add</button>
  </div>
  <div class="col-md-3">
    <strong>Result:</strong> <span>{{result}}</span>
  </div>
</div>
